#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  margin: 20px 0px;
}

.btn {
  width: 100px;
  border-radius: 10px;
  background-color: aqua;
  padding: 10px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

